<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.infinitic.workers" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io.infinitic.workflows.engine.WorkflowStateEngine" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io.infinitic.cloudEvents" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Root logger -->
    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
